/*@import url("https://fnt.webink.com/wfs/webink.css/?project=C6FA8E3B-4B0A-48FA-80D2-388C2A7264F4&fonts=D8F30418-0E92-EBB4-6408-D220574EF53E:f=ProximaNovaS-Extrabld,C344819E-7F64-52D2-5903-DE54F5382845:f=ProximaNovaS-Semibold,58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:f=ProximaNova-Regular,382B4521-6228-4C38-41BC-3DE66C7C910A:f=ProximaNovaS-Bold");*/
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

.question_set
{
    padding-bottom: 40px;
}

.main_title
{
    width: 100%;
    margin: 0 auto;
}

.label.large
{
    font: 800 20px/20px 'proxima-nova', arial, sans-serif;
    text-transform: uppercase;
}

.pull-left
{
    text-align: left;
}

h2
{
    font: 800 40px/40px 'proxima-nova', arial, sans-serif;
    text-transform: uppercase;
}

h3
{
    font: 800 24px/24px 'proxima-nova', arial, sans-serif;
    text-transform: uppercase;
}

h4
{
    font: 800 20px/20px 'proxima-nova', arial, sans-serif;
    text-transform: uppercase;
}

body {
   font: normal 16px/24px 'Bitter', serif;
}

.answers [class*="column"]:last-child {
    float: none !important; 
}
